html,
* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
** CONTAINER 
*/
.container {
  max-width: $global-width;
  margin: 0 auto;
  padding: 0 1rem; 
}

.container--fluid {
  max-width: 100%;
  margin: 0; 
}

/*
** ROW 
*/
[class^="row"] {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/*
** Flex Direction
*/
@include direction(row-reverse);
@include direction(column);
@include direction(column-reverse);

/*
** Wrap
*/
@include wrap(nowrap);
@include wrap(wrap);

/*
** Flex Justify Content
*/
@include justify(start);
@include justify(end);
@include justify(center);
@include justify(around);
@include justify(between);

/*
** Flex Align Content
*/
@include align(start);
@include align(end);
@include align(center);
@include align(stretch);
@include align(baseline);

/*
** COLUMNS 
*/
.columns, 
.column {
  width: 100%;
  @include clearfix();
}

@each $modifier, $breakpoint in $breakpoints {
  @include create-columns-class($modifier, $grid-column-count, $col-base, $breakpoint);
  @include create-hidden-class($modifier, $breakpoint);
  @include create-column-center($modifier, $breakpoint);
}