$grid-column-count: 12;
$global-width: px-to-rem(1300);
$grid-column-gutters: 1rem;
$grid-column-gutter: 1rem;

$small: 0; // 576px
$medium: pix-to-rem( 640 );
$large: pix-to-rem( 1024 );
$xlarge: pix-to-rem( 1200 );
$xxlarge: pix-to-rem( 1440 );

$breakpoints: ( 
    'small': 0,
    'medium': $medium, 
    'large': $large,
    'xlarge': $xlarge,
    'xxlarge': $xxlarge
);

$col-base: 100% / $grid-column-count;
