$grid-column-count: 12;
$global-width: px-to-rem( 1600 );
$grid-column-gutters: px-to-rem( 20 );
$grid-column-gutter: px-to-rem( 5 );

$small: 0;
$medium: px-to-rem(640px);
$large: px-to-rem(1024px);
$xlarge: px-to-rem(1200px);
$xxlarge: px-to-rem(1440px);

$bp-small: (max-width: $small);
$bp-medium: (min-width: $medium );
$bp-large: (min-width: $large );


$col-base: 100% / $grid-column-count;
